
        <h1>Hello From $username</h1>
        <p> Hi Dad, How are you? I hope that you are having a nice weekend. I'm vacationing in the California while I learn programming!</p>
        <p>Dad,you would not believe how hot it is here in Summer. I should have gone to some cold places. </p>
        <p>But I like programming a lot, so I've got that going for me</p>
        <p>Looking forward to seeing you soon. I'll bring you back a souvenir.</p>
        <p>Cheers,</p>
        <p>Loving $username</p>
        <p><a href='/favorite_photos' >P.S. Check out my favorite travel photos here.</a></p>
