<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <!-- begin inner template-->
    <h1>Welcome $username</h1>
    <div class="container">
      #parse( $sowmy )
    </div>
    <!-- end inner template-->
  </body>
</html>
